@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat-BoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

body._lock {
  overflow-y: hidden;
}

main {
  flex: 1 0 auto;
}

img,
video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.logo {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.logo img {
  -o-object-position: center;
     object-position: center;
}

[class*=__container] {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 15px;
}

.header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #059dee;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo {
  flex: 0 0 auto;
}

.header__menu {
  flex: 0 1 auto;
}

.header__menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 25px;
}

.header__menu ul li {
  font-size: 20px;
  font-weight: 700;
  list-style: none;
}

.header__menu ul li a {
  text-decoration: none;
  transition: 0.5s all ease;
  color: rgba(255, 255, 255, 0.8156862745);
}

.header__menu ul li a::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  transform-origin: center;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: 0.5s all ease;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__logo {
    z-index: 2;
  }

  .header__menu {
    z-index: 1;
    background-color: #059dee;
    padding-top: 70px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .header__menu,
  .header__menu::before {
    position: fixed;
    top: 0;
    left: 100%;
    display: block;
    transition: 0.5s left ease;
  }

  .header__menu::before {
    content: "";
    background-color: #096ec1;
    width: 100%;
    height: 70px;
  }

  .header__menu._active,
  .header__menu._active::before {
    left: 0;
  }

  .header__menu ul {
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 15px;
  }

  .header__menu ul li {
    font-size: 30px;
  }

  .burger {
    display: block;
    width: 40px;
    z-index: 1;
  }

  .burger::before,
  .burger::after {
    content: "";
  }

  .burger::before,
  .burger span,
  .burger::after {
    width: 100%;
    height: 2px;
    display: block;
    margin-bottom: 5px;
    background-color: #ffffff;
    transition: 0.5s all ease;
  }

  .burger._active::before {
    translate: 0 290%;
    rotate: 45deg;
  }

  .burger._active span {
    scale: 0 1;
  }

  .burger._active::after {
    translate: 0 -290%;
    rotate: -45deg;
  }
}

@media screen and (any-hover: hover) {
  .header__menu ul li a:hover {
    color: #ffffff;
  }

  .header__menu ul li a:hover::after {
    transform: scaleX(1);
  }
}