header.header
    div.header__container
        a(href="./#").logo.header__logo
            img(src="@img/logo.svg", alt="Logo")
        nav.menu.header__menu
            +menu(menu)
        div(role="button").burger 
            span