- 
    let menu = [
        {
            title: "Головна",
            href: "./#"
        },
        {
            title: "Про нас",
            href: "./#"
        },
        {
            title: "Контакти",
            href: "./#"
        },
    ]