include mixins/head
include mixins/vars
include mixins/menu
<!DOCTYPE html>
html(lang="en")
    +head("Головна")
body
    include blocks/header
    main.main
    include blocks/footer
    script(src="js/app.min.js")